body{
	background-color: white;
	margin-top: 100px;
	margin-left:50px;
	margin-right: 50px;

}
h1{
  font-family: 'IM Fell Double Pica SC', serif;
  margin-left: 350px;
  font-size: 150px;
  color: black;
  letter-spacing: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  font-size: 20px;
  margin-top: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}



h2 {
  letter-spacing: 3px;
  font-size: 50px;
  margin-top:100px;
  text-align: center;
  margin-bottom: 0px;
  color: black;
  margin-bottom: 50px;
}

img {
  margin-left: 200px;
}

h3 {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 20px;
  color: grey;
  text-align: center;
}


p {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  color: black;

